.contactsBlock {
  background-color: #252527;

  .contactsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;

    .contactsData {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .form {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-around;
        width: 400px;
        @media (max-width: 900px) {
          width: 80%
        }
        @media (max-width: 480px) {
          width: 100%;
        }

        .submitbtn {
          font-weight: 700;
          width: 100px;
          margin: 0 auto;
          color: white;
          text-decoration: none;
          padding: .8em 1em calc(.8em + 3px);
          border-radius: 3px;
          background: #252527;
          box-shadow: 0 -3px rgb(42, 45, 43) inset;
          transition: 0.2s;

        }

        .textarea {
          height: 80px;
          resize: none;
          padding: 15px;
          background: #252527;

          color: white;
        }

        .input {
          height: 40px;
          padding-left: 15px;
          background: #252527;
          color: white;
          border: none;
          border-bottom: white 1px solid;
          &:focus {
            outline: none;
          }
        }
      }
    }


  }
}
